extends layout

block content
	.container
		h1 About US
		p Vikash saini Vikash SAini Vikash sAini Vikash Saini Viaksh
		ul
			li vikash sAini
			li raghuvar prjapati
			li nawab
			li jhama
		p vivek kumar singh vivek kumar singh vivek kumar singh vivek kumar singh vivek kumar singh 