extends layout

block content
	.container
		.jumbotron
			.container
				h1 How May I Help You ?
				p vikash saini vikash saini vikash vikash saini
				a.btn.btn-primary.btn-lg(href='#') Learn More &requo;
		.container
			.row
				.col-md-4
					h2 About Us
					p vikash saini vikash saini vikash vikash saini
					a.btn.btn-default(href='#') View More
				.col-md-4
					h2 Service
					p vikash saini vikash saini vikash vikash saini
					a.btn.btn-default(href='#') View More
				.col-md-4
					h2 GET Information
					p vikash saini vikash saini vikash vikash saini
					a.btn.btn-default(href='#') View More